.topbar{
    width: 100%;
    height: 50px;
    background-color: white;
    top: 0;
    position: sticky;
}
.topWrapper{
    height: 100%;
    padding: opx 20px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 30px;
    font-weight: bold;
    color: darkblue;
    text-transform: capitalize;
    cursor: pointer;
}

.topRight{
    display: flex;
}
.iconcontainer{
    margin: 5px 10px;
    color: #555;
    cursor: pointer;
}
